* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-weight: bolder;
  font-size: 40px;
  color: hsl(257, 27%, 26%);
}

.texto-links {
  font-size: 9px;
  font-family: "Poppins", sans-serif;
  color: hsl(0, 0%, 75%);
  font-weight: bolder;

}



.textosInformacoes{
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: hsl(0, 0%, 75%);
  font-weight: bolder;
}

.imagem-encurtador {
  object-fit: cover;
  width: 400px;
}
.encurtarLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 30px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.links {
  background-image: url("../public/assets/images/bg-shorten-desktop.svg");
  background-image: url("../public/assets/images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.valorRed {
  border: 3px solid red;
}

.inputVerde {
  border: 3px solid hsl(180, 66%, 49%);
}

.saiba {
  background-color: #2acfcf;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins";
  outline: none;
  width: 30%;
}

#copiarUrl {
  background-color: #2acfcf;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins";
  outline: none;
  width: 100%;
}

#copiarUrl:hover {
  background-color: hsl(257, 27%, 26%);
}
#rerecionarLink {
  color: hsl(180, 66%, 49%);
}

.linksResultados {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
  border: 2px solid hsl(180, 66%, 49%);
  width: 70%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#exibirLink {
  color: hsl(257, 27%, 26%);
  font-weight: bold;
}

div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  gap: 30px;
}

.enviar {
  width: 15%;
  background-color: #2acfcf;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins";
}


.registrar {
  padding: 5px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: hsl(180, 66%, 49%);
  font-size: 10px;
}

.logo {
  width: 80px;
  object-fit: cover;
}

.esconderValores {
  display: none;
}

.mostrarValores {
  display: block;
}

.retornarValorAnterior {
  display:  "";
}

.dark-mode-toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 20px;
  position: relative;
}

.toggle-label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked + .toggle-label {
  background: #2c3e50; 
}

.dark-mode-toggle input[type="checkbox"]:checked + .toggle-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: #f1c40f; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  height: 60px;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}



input {
  border: none;
}

.valor, .largura, .altura {
  width: 100%;
  border: 2px solid #2acfcf;
  padding: 8px;
  border-radius: 5px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.menu a {
  display: flex;
  align-items: center;
  text-align: center;
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  border: none;
  color: #d3d3d3;
  text-decoration: none;
  font-weight: bold;
  font-size: 9px;
  font-family: "Poppins", sans-serif;
}

.menu a:hover::after {
  width: 100%;
}

.label-menu,
.checkbox {
  display: none;
}

.loader {
  border: 4px solid #11ab7c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: #2acfcf solid 4px;
  animation: spin 1s linear infinite;
  margin: auto;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.daerkmode {
 background-color:#333333;
 transition: 0.5s;
 color: white;
}



.whiteMode{
  background-color: white;
}

.corBlack {
  color: white;
}

.corAul{
  color: hsl(257, 27%, 26%);
}

.logoWhite{
  filter: grayscale(100%) brightness(1000%);
}

img{
  width: 100px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px; 
}

.item {
  display: flex;
  flex-direction: column;
}

.qrcode {
  width: 100%;
  height: auto;
  border: 1px solid #ccc; 
  object-fit: cover;
  border: 5px solid #2acfcf;
}

.color-input {
  margin-top: 10px;
  border: 2px solid #2acfcf;
  width: 100%;
}

.size-input {
  margin-top: 10px;
}

input{
  outline: none;
}

.botaoGerarQrCoDE {
  width: 100%;
  background-color: #2acfcf;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins";
}
.botaoGerarQrCoDE span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.botaoGerarQrCoDE:before,
.botaoGerarQrCoDE:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
 box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.botaoGerarQrCoDE:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.botaoGerarQrCoDE:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.botaoGerarQrCoDE:hover{
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}
.botaoGerarQrCoDE:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.botaoGerarQrCoDE:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.botaoGerarQrCoDE span:before,
.botaoGerarQrCoDE span:after {
  position: absolute;
  content: "";
  box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.botaoGerarQrCoDE span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.botaoGerarQrCoDE span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.botaoGerarQrCoDE span:hover:before {
  width: 100%;
}
.botaoGerarQrCoDE span:hover:after {
  width: 100%;
}


.swal2-popup  {
  background-color: #2acfcf; 
  border: 2px solid white;
  color: white;
  font-family: "Poppins";
  outline: none;
}

.swal2-actions .swal2-confirm{
  background-color: #2acfcf; 
  color: white;
  font-family: "Poppins";
  outline: none;
}



@media (max-width: 768px) {
  .menu {
    display: block;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    z-index: 1;
    overflow-y: hidden;
    transition: 0.5s;
    color: white;
  }

  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
    font-size: 15px;
  }

  .label-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    padding-block: 1rem;
    cursor: pointer;
  }
  .hamburguer {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }
  .hamburguer::before,
  .hamburguer::after {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }
  .checkbox:checked ~ .menu {
    height: calc(100vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }
  .checkbox:checked ~ .label-menu .hamburguer {
    border-top-color: transparent;
  }
  .checkbox:checked ~ .label-menu .hamburguer::before {
    transform: rotate(135deg);
  }
  .checkbox:checked ~ .label-menu .hamburguer::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
  main{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
    .imagem-encurtador {
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
      width: 100%;
    }
  .links, .enviar,.linksResultados, h1{
    width: 100%;
    flex-wrap: wrap;
  }
  
  br{
    display: none;
  }
  .grid-container{
    display: flex;
    flex-direction: column;
  }
  .color-input{
    width: 100%;
  }
}

